# private keys
/src/VoiceTextWebAPIKey.py
/src/OshaberiNanakaChan-03311cf17b12.json

# data files
/voice/
/venv/
/data/
/tmp/

# SQLite database files
*.db

# IDE config files
.idea/
.vscode

# temporary files
__pycache__/
/src/chat/ChaplusAPIKey.py
